@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Success">
        <MudImage Src="logo.png" Width="80" Style="padding:1em"/>
        <MudSpacer/>
        <MudButton Variant="Variant.Outlined">Resume</MudButton>
    </MudAppBar>
    <MudDrawer  Variant="@DrawerVariant.Mini">
        <div class="name-section">
            <h2>
                Waleed ali sarwar
            </h2>
        </div>
    </MudDrawer>
    
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
}