@page "/"
@inherits LayoutComponentBase

<PageTitle>Waleed | Portfolio</PageTitle>
<section class="intro">
    <MudContainer>
        <MudGrid>
            <MudItem xs="12">
                @* <MudImage Fluid="true" Src="profile.jpg" Alt="Waleed's Picture Profile" Width="350"  /> *@
                <h1 id="name-title">Waleed Ali Sarwar</h1>
            </MudItem>
        </MudGrid>
    </MudContainer>
</section>