@page "/"
@inherits LayoutComponentBase

<PageTitle>Waleed | Portfolio</PageTitle>
<section class="intro">
    <MudContainer>
        <div class="intro-section">
          @*   <div class="image-card">
            <MudImage Fluid="true" Src="profile.jpg" Alt="Waleed's Picture Profile" Width="350"  />
            </div> *@
            <div>
            <h1>Waleed Ali Sarwar</h1>
          
            </div>
        </div>
    </MudContainer>
</section>