@page "/"
@inherits LayoutComponentBase

<PageTitle>Waleed | Portfolio</PageTitle>
<section>
        <MudContainer>
    <div class="intro-section">
        
        <h2>
            I'm a full stack developer specialization in .NET
        </h2>
    </div>
        </MudContainer>
</section>